# Chatbot UI
# DEFAULT_MODEL=gpt-3.5-turbo
# DEFAULT_SYSTEM_PROMPT=You are ChatGPT, a large language model trained by OpenAI. Follow the user's instructions carefully. Respond using markdown.
OPENAI_API_KEY=sk-A3evLntrICe39BGOav8PAPXf-CMsxkTX9wim0MFqAYT3BlbkFJ0DSgie-4nYPzmcuSw-x2DqiaYjhpk-J8pUIzg6-twA
TAVILY_API_KEY=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
# Google
GOOGLE_API_KEY=YOUR_API_KEY
GOOGLE_CSE_ID=YOUR_ENGINE_ID
